body {
	font-size: 125%;
	font-family: 'Inter', sans-serif;
	color: var(--color-03);
}

h1, h2 {
	font-family: 'Playfair Display', serif;
}

h2 {
	font-size: var(--font-size-sub-header-mobile);
}

@media screen and (min-width: 900px) {
	h2 {
		font-size: var(--font-size-sub-header-desktop);
		}
}
