.grid {
	display: grid;
	width: 100%;
	gap: var(--gap-column);
	grid-template-columns: repeat(12, 1fr);
}

.grid__column-start--2 {
	grid-column-start: 2;
}

.grid__column-start--3 {
	grid-column-start: 3;
}

.grid__column-start--4 {
	grid-column-start: 4;
}

.grid__column-start--5 {
	grid-column-start: 5;
}

.grid__column-start--6 {
	grid-column-start: 6;
}

.grid__column-start--7 {
	grid-column-start: 7;
}

.grid__column-start--8 {
	grid-column-start: 8;
}

.grid__column-start--9 {
	grid-column-start: 9;
}

.grid__column-start--10 {
	grid-column-start: 10;
}

.grid__column-start--10 {
	grid-column-start: 10;
}

.grid__column-start--11 {
	grid-column-start: 11;
}

.grid__column-start--12 {
	grid-column-start: 12;
}

@media screen and (min-width: 1024px) {
	.grid__column--1 {
		grid-column-end: span 1;
	}

	.grid__column--2 {
		grid-column-end: span 2;
	}

	.grid__column--3 {
		grid-column-end: span 3;
	}

	.grid__column--4 {
		grid-column-end: span 4;
	}

	.grid__column--5 {
		grid-column-end: span 5;
	}

	.grid__column--6 {
		grid-column-end: span 6;
	}

	.grid__column--7 {
		grid-column-end: span 7;
	}

	.grid__column--8 {
		grid-column-end: span 8;
	}

	.grid__column--9 {
		grid-column-end: span 9;
	}

	.grid__column--10 {
		grid-column-end: span 10;
	}

	.grid__column--11 {
		grid-column-end: span 11;
	}

	.grid__column--12 {
		grid-column-end: span 12;
	}

	.grid__column-start-desktop--2 {
		grid-column-start: 2;
	}

	.grid__column-start-desktop--5 {
		grid-column-start: 5;
	}

	.grid__column-start-desktop--9 {
		grid-column-start: 9;
	}
}

@media screen and (max-width: 1040px) {
	.grid__column-mobile--1 {
			grid-column-end: span 1;
		}
	
		.grid__column-mobile--2 {
			grid-column-end: span 2;
		}
	
		.grid__column-mobile--3 {
			grid-column-end: span 3;
		}
	
		.grid__column-mobile--4 {
			grid-column-end: span 4;
		}
	
		.grid__column-mobile--5 {
			grid-column-end: span 5;
		}
	
		.grid__column-mobile--6 {
			grid-column-end: span 6;
		}
	
		.grid__column-mobile--7 {
			grid-column-end: span 7;
		}
	
		.grid__column-mobile--8 {
			grid-column-end: span 8;
		}
	
		.grid__column-mobile--9 {
			grid-column-end: span 9;
		}
	
		.grid__column-mobile--10 {
			grid-column-end: span 10;
		}
	
		.grid__column-mobile--11 {
			grid-column-end: span 11;
		}
	
		.grid__column-mobile--12 {
			grid-column-end: span 12;
		}
}