:root {

	/* Color variables */
	--color-01: #FF642F;
	--color-02: #FFD7C9;
	--color-03: #000000;
	--color-04: #7F7F7F;
	--color-05: #E8E8E8;
	--color-06: #f9f9f9;

	--color-button: var(--color-01);
	--color-main-font: var(--color-03);
	--color-box-foreground: var(--color-01);
	--color-background: var(--color-06);

	/* Border variables */
	--border-radius-button: 0.5rem;
	--border-radius-card: 0.5rem;
	--border-radius-image-button: 50%;
	--border-recipes-card: 1px solid var(--color-05);

	/* Gap variables */
	--gap-column: 0.5rem;
	--gap-row: 0.5rem;
	--gap-padding: 1rem;
	--gap-margin-x-small: 0.25rem;
	--gap-margin-small: 0.5rem;
	--gap-margin-medium: 1rem;
	--gap-margin-large: 2rem; 	
	--gap-margin-x-large: 4rem;
	--gap-medium: 2rem;

	/* Font variables */
	--font-size-main-header-desktop: 3.2rem;
	--font-size-main-header-mobile: 2rem;
	--font-size-main-body-desktop: 1rem;
	--font-size-sub-header-desktop: 2rem;
	--font-size-sub-header-mobile: 1.4rem;
	--font-size-small: 0.8rem;
	--font-size-x-small: 0.6rem;
}