.recipes {
	margin-top: var(--gap-margin-medium);
}

.recipes__list-element {
	width: 17.5rem;
	position: relative;
	margin: 2rem auto;
}

.recipes__list-element-image {
	width: 100%;
	height: 17.5rem;
	background-image: url(/_app/assets/images/Speedy-stroganoff-pasta-dbb29a0.jpeg);
	background-size: cover;
	background-position: center;
	border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
}	
