.main-header {
	background-color: var(--color-box-foreground);
	padding: 1.5rem;
}

.main-header--no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
	overflow-x: hidden;
}

.main-header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--gap-margin-small);
}

.main-header__mobile-burger-button {
	width: 1.4rem;
	height: 1.4rem;
}

.main-header__mobile-burger-button {
	background-image: url(/_app/assets/icons/menu-2.svg);
	background-repeat: no-repeat;	
	color: transparent;
	font-size: 3px;
}

.main-header__menu {
	display: none;
}

.main-header__menu--visible {
	display: block;
	height: 100vh;
	margin-top: 3rem;
}

.main-header__menu--visible li {
	padding: var(--gap-margin-medium);
	width: 100%;
	position: relative;
	font-size: var(--font-size-medium);
}

.main-header__link {
	margin-top: var(--gap-margin-small);
	transition: all 300ms ease-in-out;
}

.main-header__menu--visible .main-header__link {
	width: 100%;
}

.main-header__link--active {
	border-bottom: var(--border-bottom-header);
}

.main-header__mobile-button button{
	margin: var(--gap-margin-small);
}

@media screen and (min-width: 1040px) {
	.main-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 200px;
	}

	.main-header__menu {
		display: flex;
		gap: 8vw;
		justify-content: space-around;
		align-items: center;
		margin-right: var(--gap-margin-small);
	}

	.main-header__menu .main-header__link:hover {
		border-bottom: var(--border-bottom-header);
	}

	.main-header__mobile-button {
		display: none;
	}
}