.main-header {
	background-color: var(--color-box-foreground);
	padding: 1.5rem;
}

.main-header--visible {
	height: 100vh;
}

.main-header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--gap-margin);
}

.main-header__search-button,
.main-header__mobile-burger-button, .main-header__mobile-search-button {
	width: 1.4rem;
	height: 1.4rem;
}

.main-header__mobile-burger-button {
	background-image: url(/_app/assets/icons/menu.svg);	
}

.main-header__search-button, .main-header__mobile-search-button {
	background-image: url(/_app/assets/icons/search.svg);
}

.main-header__search-button, .main-header__menu {
	display: none;
}

.main-header__menu--visible {
	display: block;
}

.main-header__menu a{
	margin-top: var(--gap-margin);
	transition: all 300ms ease-in-out;
}

@media screen and (min-width: 600px) {
	.main-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 200px;
	}

	.main-header__menu {
		display: flex;
		gap: 8vw;
		align-items: center;
		margin-right: var(--gap-margin);
	}

	.main-header__menu a:hover {
		border-bottom: 3px solid;
		font-weight: 600;
	}

	.main-header__mobile-buttons {
		display: none;
	}

	.main-header__search-button {
		display: block;
	}
}

/* Todo: finn ut hvorfor navigation menu flytter på seg */