.main-navigation {
	background-color: var(--color-box-foreground);
}

.main-navigation__links-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}


.main-navigation__search-button {
	background-image: url(/_app/assets/icons/search.svg);
	width: 1.4rem;
	height: 1.4rem;
}