.main-navigation {
.main-navigation__search-button, .main-navigation__mobile-burger-button{
	width: 1.4rem;
	height: 1.4rem;
}
.main-navigation__mobile-burger-button {
	background-image: url(/_app/assets/icons/menu.svg);	
}

.main-navigation__search-button {
	background-image: url(/_app/assets/icons/search.svg);
}

.main-navigation__links-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}


.main-navigation__search-button {
	background-image: url(/_app/assets/icons/search.svg);
	width: 1.4rem;
	height: 1.4rem;
}