.description__information {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: column wrap;
}

.description__information-facts {
	display: flex;
	font-size: var(--font-size-x-small);
}

.description__information-title {
	font-size: var(--font-size-main-header-desktop);
}

.description__information-fact {
	text-align: center;
	margin: var(--gap-margin-medium);
}

.description__iformation-amount {
	font-weight: 700;
}

.description__information-icon {
	width: 24px;
	height: 24px;
	margin: 0 auto;
}

.description__calories-icon {
	background-image: url(/_app/assets/icons/calories.svg);
}

.description__servings-icon {
	background-image: url(/_app/assets/icons/servings.svg);
}

.description__time-icon {
	background-image: url(/_app/assets/icons/cook-time.svg);
}

.description__information-favorite-button {
	display: flex;
	align-items: center;
	background-color: var(--color-02);
	padding: var(--gap-margin-small);
	text-transform: uppercase;
	border-radius: var(--border-radius-card);
}

.description__favorite-button-icon::before {
	content: url('/_app/assets/icons/favorite-heart.svg');
	margin-right: 5px;
}

.description__information-favorite-button:hover 
.description__favorite-button-icon::before {
	content: url('/_app/assets/icons/favorite-heart-filled.svg');
}

.description__image {
	object-fit: cover;
}

.description__sub-title {
	font-family: 'Playfair Display', serif;
	font-size: var(--font-size-sub-header-desktop);
}
.description__instruction-button, 
.description__ingredient-button {
	display: flex;
	text-align: left;
	gap: 0.5rem;
}

.description__ingredient-button {
	align-items: center;
}
.description__instruction-button-dot, 
.description__ingredient-button-dot {
	border-radius: 50%;
	border: 1px solid var(--color-01);
}

.description__ingredient-button-dot {
	width: 10px;
	height: 10px;
}

.description__instruction-button-dot {
	width: 20px;
	height: 20px;
	margin-top: 3px;
}

.description__instruction-button-text {
	width: 95%;
}
}